body{
		background-color: #F5F5F5;
		}
		.header {
				background-color:#008000;
				width:100%;
				height:195px;
				position: fixed;
				padding-top:1px;/*як зменшити відступ від верха */
                /* border: 14px double black;  */
				}
		.logo img {
			/* align:right; */ 
			width:6%;
			position:fixed;
			right: 100px;
			float:left;
			top:40px;
			border-radius: 30px;
			
			
		}
		.header p {
		font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */ 
		font-size: 350%; /* Размер шрифта в процентах */
		background-color:#008010;
				}
		.header p a{
		text-decoration: none; /*убираем подчеркивание текста*/	
		
				}
					.menu {
					width:100%;
					height: 40 px;
                    background: #00FF00;
					font-size: 20pt; /* Размер шрифта*/
					/* border: 14px double black;  */
                    position: fixed;
                    top:27%;
                    left:-1 px;
                        
					}
					ul. menu li a {
					text-decoration: none; /*убираем подчеркивание текста ссылок*/
					}
					.menu a{
					color:white;
					text-decoration: none; /*убираем подчеркивание текста ссылок*/
					font-weight: bold;
					}
				    ul.menu li {
					list-style: none; /*убираем маркеры списка*/
					display:inline; 
                    padding: 10px;}
                       
                                       
					/*ul.menu li.selected a{
					color: yellow;
					}*/
					ul.menu li a:hover;{
					color:#yellow;
					}
					 .submenu {
						font="#FFFFFF";
						list-style: none; /* Отключение отображения маркеров. */
						width: 400px;  /* Ширина меню. */
						/* border: 14px double black;  */
						background-color:#008000; 
						position: fixed; 
                         
						right:20px;
						float:right;
						font-size: 19pt; /* Размер шрифта*/
						top:35%;
						}	
						.submenu a{
						color:white; /* колір тексту у підменю */
						text-decoration: none; /*убираем подчеркивание текста ссылок*/
						border:2px dashed green; /* границія навколо тексту у підменю */
						background:green;
						font-weight: bold;
						}						
						ul.submenu li {
				        margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
					    margin-top: 5px;
						border-left: 10px solid green;
						}
            .containe{
            /* border: 14px double black;  */
            top:40%;
            position: absolute;
            left: 15px; /* Положение от правого края */
            line-height: 1px;
            width:65%;
            height: 70%;
            float:left;
                
            }
